/*
	Bulletproof Custom Font Face
*/

/*font-family: 'Lato', sans-serif;*/
/*Proxima Nova*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

@font-face {
  font-family: pn_bold;
  src: url("../font/ProximaNova-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../font/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Bold.woff") format("woff"), url("../font/ProximaNova-Bold.ttf") format("truetype"), url("../font/ProximaNova-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-style: normal; }

@font-face {
  font-family: pn_semibold;
  src: url("../font/ProximaNova-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../font/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Semibold.woff") format("woff"), url("../font/ProximaNova-Semibold.ttf") format("truetype"), url("../font/ProximaNova-Semibold.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-style: normal; }

@font-face {
  font-family: pn_regular;
  src: url("../font/ProximaNova-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../font/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Regular.woff") format("woff"), url("../font/ProximaNova-Regular.ttf") format("truetype"), url("../font/ProximaNova-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-style: normal; }

@font-face {
  font-family: pn_light;
  src: url("../font/ProximaNova-Light.eot");
  /* IE9 Compat Modes */
  src: url("../font/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Light.woff") format("woff"), url("../font/ProximaNova-Light.ttf") format("truetype"), url("../font/ProximaNova-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-style: normal; }
  
.pnb {
	font-family: pn_bold;
}
